Package: com.xalaxxi.neofetch
Name: neofetch
Version: 7.1.11
Architecture: iphoneos-arm
Description: Shows device information in terminal using bash.
Maintainer: xalaxxi
Author: xalaxxi
Section: Terminal_Support
Depends: curl

