Package: com.xalaxxi.figlet
Name: figlet
Version: 2.2.5-2
Architecture: iphoneos-arm
Section: Terminal_Support
Maintainer: Xalaxxi
Depends: ncurses
Description: Make large ASCII banners in your terminal.
