Package: com.xalaxxi.neofetch
Name: neofetch
Version: 7.1.5
Architecture: iphoneos-arm
Description: A command-line system information tool.
Maintainer: xalaxxi
Author: xalaxxi
Section: Utilities
Depends: curl
