Package: com.xalaxxi.neofetch
Name: neofetch
Version: 7.1.0-7
Architecture: iphoneos-arm
Description: Terminal command used for device information using bash.
Maintainer: xalaxxi
Section: Terminal_Support
Depends: bash, coreutils, gawk, grep, sed
