Package: com.xalaxxi.neofetch
Name: Neofetch (Legacy)
Version: 7.1.0-1
Architecture: iphoneos-arm
Description: A system info script fixed for legacy iOS.
Maintainer: xalaxxi
Section: Utilities
Depends: bash, coreutils
