Package: com.xalaxxi.sl
Name: sl
Version: 5.05-2
Architecture: iphoneos-arm
Description: Terminal command used for Steam Locomotive animations.
Maintainer: xalaxxi
Section: Terminal_Support
Depends: ncurses
